# Node & frontend tools
node_modules/
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# PHP
/vendor/
*.log
*.env

# Editor configs
.vscode/
.idea/
*.swp

# Cache y temporales
.cache/
*.bak
*.tmp

# GitHub Pages config
CNAME