<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirige a HTTPS solo si no está ya en HTTPS
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Protecciones básicas
Options -Indexes
